.drum-loop{
    float: left;
    margin-left: 40px;
    position: relative;

    .playButton{
        left: 345px;
        top: 70px;
        width: 100px;
        height: 100px;

        .rotator{
            .circle{
                width: 16px;
                height: 16px;
                margin-top: -8px;
            }
        }
    }

    .headline{
        margin-left: 0;
    }

    .dots{
        position: absolute;
        top: 200px;
        width: 660px;

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .line-names{
            float: left;
            text-transform: uppercase;
            text-align: center;
            li{
                height: 40px;
                font-size: 20px;
            }
        }

        .lines{
            float: right;
            width: 470px;

            .line.hihat{
                li{
                    font-size: 23px;
                    vertical-align: top;
                    margin-top: -5px;
                }
            }

            li{
                display: inline-block;
                height: 40px;
                font-size: 35px;
                line-height: 32px;
                letter-spacing: 3px;

                &.active{
                    font-size: 55px;
                    color: white;
                    vertical-align: sub;
                    margin-left: -3.5px;
                    letter-spacing: -1px;

                    &.paused{
                        font-size: 35px;
                        vertical-align: top;
                        color: black;
                        margin-left: 0;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
    
    .bpm{
        position: absolute;
        top: 450px;
        left: 340px;
        text-align: center;

        .top{
            color: white;
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 4px;
        }

        .bottom{
            font-size: 62px;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}