body{
    font-family: Chivo, sans-serif;
    color: black;
}

.content{
    padding: 100px 0 0;
    height: 100%;
    overflow: hidden;

    .bg{
        height: 100%;
        padding: 40px;
        background-color: rgba(0,0,0,.2);
    }

    h1,h2,h3{
        text-align: center;
        height: 100px;
        top: calc(50% + 100px);
        position: absolute;
        width: 400px;
        text-transform: uppercase;
        margin: 0 auto;
        left: calc(50% - 200px);
        font-style: italic;
        font-size: 72px;
        font-weight: 400;
        letter-spacing: 8px;
    }

    h2{
        top: calc(50% + 185px);
        font-size: 42px;
        opacity: 0.6;
    }

    h3{
        top: calc(50% + 240px);
        font-size: 32px;
        opacity: 0.3;
    }
}