body{
    font-family: Chivo, sans-serif;
    color: black;
}

.content{
    padding: 100px 0 0;
    height: 100%;
    overflow: hidden;

    .bg{
        height: 100%;
        padding: 40px;
        background-color: rgba(0,0,0,.2);
    }

    .headline{
        color: white;
        font-size: 16px;
        margin-left: 8px;
    }
}