body{
    font-family: Chivo, sans-serif;
    color: black;
}

.sans-serif{
    font-family: sans-serif;
}

.popover{
    border-radius: 0;
    border: none;
}

.content{
    padding: 100px 0 0;
    height: 100%;
    overflow: hidden;

    .arrows{
        display: none;
        width: 1090px;
        position: absolute;
        left: calc(50% - 545px);
        top: calc(50% - 214px);
    }

    .headline{
        color: white;
        font-size: 20px;
        margin-left: 8px;
        letter-spacing: 2px;
    }

    .formats{
        padding: 40px;
        padding-top: 0;

        img{
            width: 100%;
        }
    }

    .covers{
        padding: 0 40px 40px;
        text-align: center;

        .headline{
            margin-bottom: 40px;
            margin-left: 0;
        }

        img{
            width: 90%
        }
    }

    .facts, .expansion{
        position: relative;

        .artist{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            left: 40px;
            cursor: pointer;
        }

        .interview{
            width: 62px;
            height: 65px;
            position: absolute;
            top: 290px;
            left: 574px;
            cursor: pointer;
        }

        .quote{
            width: 62px;
            height: 65px;
            position: absolute;
            top: 320px;
            left: 408px;
            cursor: pointer;
        }

        .video{
            width: 95px;
            height: 70px;
            position: absolute;
            top: 250px;
            left: 1105px;
            cursor: pointer;
        }

        img{
            width: 100%;
        }
    }


}