// Listen
.listen{
    h1,h2,h3{
        text-align: center;
        height: 100px;
        top: calc(50% + 50px);
        position: absolute;
        width: 400px;
        text-transform: uppercase;
        margin: 0 auto;
        left: calc(50% - 200px);
        font-style: italic;
        font-size: 102px;
        font-weight: 400;
        letter-spacing: 8px;
    }

    h2{
        top: calc(50% + 145px);
        font-size: 42px;
        opacity: 0.6;
    }

    h3{
        top: calc(50% + 190px);
        font-size: 32px;
        opacity: 0.3;
    }
}

.playButton{
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 120px);
    cursor: pointer;

    img{
        width: 100%
    }

    .rotator{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transform: rotate(0deg);

        .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: -10px;
            background-color: white;
        }
    }
}