.mpc{
    float: right;
    margin-right: 30px;

    .headline{
        margin-left: 80px;
    }

    ul{
        list-style-type: none;
        width: 470px;
        padding: 0;
        margin: 0;
        font-size: 0;

        li{
            margin: 8px;
            width: 100px;
            height: 100px;
            border: 3px solid white;
            display: inline-block;
            text-transform: uppercase;
            padding: 5px;
            cursor: pointer;
            vertical-align: top;
            position: relative;

            &:hover{
                &.techno{ background-color: $techno; }
                &.house{ background-color: $house; }
                &.dub{ background-color: $dub; }
                &.breakbeat{ background-color: $breakbeat; }
                &.hiphop{ background-color: $hiphop; }
                &.ambient{ background-color: $ambient; }
                &.white{ background-color: white; }
            }

            span{
                font-size: 14px;
            }

            img{
                position: absolute;
                bottom: -3px;
                right: -3px;
            }
        }
    }
}