nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 20px 40px;
    text-align: center;
    width: 100%;
    z-index: 1;

    .class{
        display: inline-block;
        float: left;
        font-weight: 600;
        font-size: 20px;
        color: black;
        line-height: 38px;
        margin-top: 10px;
    }

    .timeNav{
        display: inline-block;
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        line-height: 38px;
        margin-top: 10px;

        .button{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        .currentYear{
            display: inline-block;
            color: white;
            background-color: black;
            font-weight: 400;
            margin: 0 5px;
            font-size: 20px;
            padding: 0px 15px;
            vertical-align: middle;
        }
    }

    .actions{
        display: inline-block;
        float:right;
        z-index: 2;
        line-height: 38px;
        margin-top: 10px;

        .menu{
            list-style-type: none;
            padding: 0;
            margin: 0;

            li{
                line-height: 32px;
                height: 32px;
                cursor: pointer;
                display: inline-block;
                margin-left: 20px;
            }
        }

        .components{
            display: none;
            list-style-type: none;
            padding: 0;
            text-align: right;

            li{
                cursor: pointer;
                margin: 5px 0 7px;
            }
        }
    }
}

.scrollDown{
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;

    img{
        cursor: pointer;
    }
}