// Popup

#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 100px 40px 0px;
    display: none;

    .js-close{
        position: absolute;
        right: 60px;
        top: 110px;
        color: black;
        font-size: 30px;
        cursor: pointer;
        z-index: 1;
    }

    &.black{
        padding: 100px 40px 40px;
        text-align: center;

        .js-close{
            color: white;
        }

        .popup-content{
            overflow: hidden;
            background-color: rgba(0,0,0,0.9);
        }
    }

    .popup-content{
        height: 100%;
        background-color: rgba(255,255,255,0.9);
        overflow: auto;
        padding: 50px 60px;
        position: relative;

        img{
            width: 100%;
        }

        iframe{
            height: 480px;
            top: calc(50% - 240px);
            position: absolute;
            left: calc(50% - 320px);
            width: 640px;
        }
    }
}