$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face { font-family: Chivo; font-weight: 200; src: url('../fonts/Chivo-Light.otf'); }
@font-face { font-family: Chivo; font-weight: 200; font-style: italic; src: url('../fonts/Chivo-LightItalic.otf'); }
@font-face { font-family: Chivo; font-weight: 400; src: url('../fonts/Chivo-Regular.otf'); }
@font-face { font-family: Chivo; font-weight: 400; font-style: italic; src: url('../fonts/Chivo-Italic.otf'); }
@font-face { font-family: Chivo; font-weight: 600; src: url('../fonts/Chivo-Bold.otf'); }
@font-face { font-family: Chivo; font-weight: 600; font-style: italic; src: url('../fonts/Chivo-BoldItalic.otf'); }
@font-face { font-family: Chivo; font-weight: 800; src: url('../fonts/Chivo-Black.otf'); }
@font-face { font-family: Chivo; font-weight: 800; font-style: italic; src: url('../fonts/Chivo-BlackItalic.otf'); }

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixins.scss";
@import "variables.scss";
@import "general.scss";
@import "listen.scss";
@import "mpc.scss";
@import "drum-loop.scss";
@import "melody-loop.scss";
@import "popup.scss";
@import "nav.scss";