$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@font-face { font-family: Chivo; font-weight: 200; src: url('../fonts/Chivo-Light.otf'); }
@font-face { font-family: Chivo; font-weight: 200; font-style: italic; src: url('../fonts/Chivo-LightItalic.otf'); }
@font-face { font-family: Chivo; font-weight: 400; src: url('../fonts/Chivo-Regular.otf'); }
@font-face { font-family: Chivo; font-weight: 400; font-style: italic; src: url('../fonts/Chivo-Italic.otf'); }
@font-face { font-family: Chivo; font-weight: 600; src: url('../fonts/Chivo-Bold.otf'); }
@font-face { font-family: Chivo; font-weight: 600; font-style: italic; src: url('../fonts/Chivo-BoldItalic.otf'); }
@font-face { font-family: Chivo; font-weight: 800; src: url('../fonts/Chivo-Black.otf'); }
@font-face { font-family: Chivo; font-weight: 800; font-style: italic; src: url('../fonts/Chivo-BlackItalic.otf'); }

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixins.scss";

body{
    font-family: Chivo, sans-serif;
    color: black;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 20px 40px;
    text-align: center;
    width: 100%;
    z-index: 1;

    .class{
        display: inline-block;
        float: left;
        font-weight: 600;
        font-size: 20px;
        color: black;
        line-height: 38px;
        margin-top: 10px;
    }

    .timeNav{
        display: inline-block;
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        line-height: 38px;
        margin-top: 10px;

        .button{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        .currentYear{
            display: inline-block;
            color: white;
            background-color: black;
            font-weight: 400;
            margin: 0 5px;
            font-size: 20px;
            padding: 0px 15px;
            vertical-align: middle;
        }
    }

    .actions{
        display: inline-block;
        float:right;
        z-index: 2;
        line-height: 38px;
        margin-top: 10px;

        .menu{
            list-style-type: none;
            padding: 0;
            margin: 0;

            li{
                line-height: 32px;
                height: 32px;
                cursor: pointer;
                display: inline-block;
                margin-left: 20px;
            }
        }

        .components{
            display: none;
            list-style-type: none;
            padding: 0;
            text-align: right;

            li{
                cursor: pointer;
                margin: 5px 0 7px;
            }
        }
    }
}

.content{
    margin: 50px 0;
    padding: 40px;
    height: calc(100% - 50px);

    &.bg{
        background-color: rgba(0,0,0,.2);
    }

    h1,h2,h3{
        text-align: center;
        height: 100px;
        top: calc(50% + 100px);
        position: absolute;
        width: 400px;
        text-transform: uppercase;
        margin: 0 auto;
        left: calc(50% - 200px);
        font-style: italic;
        font-size: 72px;
        font-weight: 400;
        letter-spacing: 8px;
    }

    h2{
        top: calc(50% + 185px);
        font-size: 42px;
        opacity: 0.6;
    }

    h3{
        top: calc(50% + 240px);
        font-size: 32px;
        opacity: 0.3;
    }
}

// Listen

.playButton{
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: relative;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    cursor: pointer;

    img{
        width: 100%
    }

    .rotator{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transform: rotate(0deg);

        .circle{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: -8px;
            background-color: white;
        }
    }
}

// Popup

#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 100px 40px 40px;
    display: none;

    .js-close{
        position: absolute;
        right: 60px;
        top: 110px;
        color: black;
        font-size: 30px;
        cursor: pointer;
    }

    .popup-content{
        height: 100%;
        background-color: rgba(255,255,255,0.9);
        overflow: auto;
    }
}
