body.dubBg{
    background-color: #e53c4e;
}

body.sinogrimeBg{
    background: linear-gradient(to right, rgb(229, 60, 78) 10%, rgb(247, 146, 92) 41%, rgb(186, 124, 212) 64%, rgb(31, 199, 86) 100%, rgb(254, 229, 51) 100%);
}

body.sinogrimeBg h1{
    width: 600px;
    left: calc(50% - 300px);
}

body.garageBg{
    background: linear-gradient(to right, rgb(229, 60, 78) 3%,  rgb(186, 124, 212) 32%, rgb(31, 199, 86) 95%);
}

body.garageBg h1{
    width: 660px;
    left: calc(50% - 330px);
}